=form_tag("/login") do
  .usernew-wrapper
    .modal-area
      .modal-area__title
        ログイン
      .modal-area__form
        .modal-area__form--nickname
          .title
            =": ニックネーム"
          %input.input-area{:name => "nickname", :value => "#{@nickname}"}
        .modal-area__form--password
          .title
            =": パスワード"
          %input.input-area{:name => "password", :type => "password", :value => "#{@password}"}
      %input.modal-area__submit{:type => "submit", :value => "ログイン"}


-# %h3 LOGIN
-# - if @error_message
-#   %div
-#     = @error_message
-# = form_tag("/login") do
-#   %p ニックネーム：
-#   %input{:name => "nickname", :value => "#{@nickname}"}/
-#   %p パスワード：
-#   %input{:name => "password", :type => "password", :value => "#{@password}"}/
-#   %input{:type => "submit", :value => "ログイン"}/
