=form_for @user do |f|
  .usernew-wrapper
    .modal-area
      .modal-area__title
        ユーザー登録
      .modal-area__form
        .modal-area__form--nickname
          .title
            =": ニックネーム"
          = f.text_field :nickname, class: "input-area"
        .modal-area__form--password
          .title
            =": パスワード"
          = f.text_field :password, class: "input-area"
        =f.submit "登録",class:"modal-area__submit"
