$color:whitesmoke;
$link-color:orange;
$brown:#6F5B41;
$cream:#FCFAEA;

@mixin s-title{
  background-color:whitesmoke;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  font-weight: bold;
  padding-left: 15px;
  box-sizing: border-box;
}
@mixin border{
  background-color:white;
  padding: 4px;
  border: solid 1px black;
  box-sizing: border-box;
}

@mixin wrapper{
  font-family: Arial,游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  color:black;
  width: 1200px;
  margin: 100px auto 0 auto;

}

@mixin normal-area{
  height: 150px;
  width: 600px;
  margin:10px auto 0 auto;
}