@mixin s-title{
  height: 40px;
  font-weight: bold;
  font-size: 20px;
}
@mixin border{
  background-color:white;
  padding: 4px;
  border: solid 1px black;
  box-sizing: border-box;
}

@mixin wrapper{
  font-family: Arial,游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  color:black;
  background-color: whitesmoke;
  width: 1200px;
  margin: 0 auto;
}