@import"variables";
.header{
  height: 100px;
  width: 100%;
  font-family: Arial,游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-weight: bold;
  background-color:$brown;
  display: flex;
  position: fixed;
  top:0;
  z-index: 1;
    &__tittle{
      font-size: 40px;
      text-decoration: none;
      padding:0 30px 0 0px ;
      .headerlogo{
        width: 270px;
        color:$cream;
        padding:30px
      }
    }
    &__menu{
      padding:0 30px 0 500px;
      text-decoration: none;
      font-size: 16px;
      display: flex;
      line-height: 70px;
      .user-image{
        height: 45px;
        width: 45px;
        border-radius: 30px;
        margin:28px 10px 0 0;
        line-height: 80px;
        display: block;
      }
      #user-name{
        padding-right: 83px;
      }
      .link{
        text-decoration: none;
        color:$cream;
        padding:17px 20px 0 0 ;  
        display: inline-block; 
      }
      .link:hover{
        color: $link-color;
      }
    }
  
}
.flash_message{
background-color: $color;
}