.header{
  height: 70px;
  width: 100%;
  font-family:Comic Sans MS;
  color:black;
  font-weight: bold;
  background-color:whitesmoke;
  .header__bar{
    display: flex;
    background-color:#ffffdb;
    .header__bar--tittle{
      font-size: 50px;
      text-decoration: none;
      padding:0 30px 0 20px ;
      color:black;
      height: 70px;
      background-color:orange;
      border-radius: 0px 40px 40px 0px;
      .header__bar--tittle:hover{
        color: #4169e1;
      }
    }
    .header__bar--menu{
      padding:0 30px 0 500px;
      text-decoration: none;
      font-size: 25px;
      background-color:#ffffdb;
      height: 70px;
      .user-image{
        height: 45px;
        width: 45px;
        border-radius: 30px;
        margin:13px 10px 0 0 ;
        float: left;
        display: inline-block;
      }
      #user-name{
        padding-right: 63px;
      }
      .link{
        text-decoration: none;
        color:black;
        padding:17px 10px 0 0 ;  
        display: inline-block; 
      }
      .link:hover{
        color: #4169e1;
      }
    }
  }
}
.flash_message{
background-color: whitesmoke;
}