.home{
  background-image:url("/home.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  font-size: 30px;
  color:yellow;
}

.main_message{
  padding-top: 100px;
  text-align: center;
  font-size: 80px;
  color:white;
  
}

.pref_link{
  text-align: center;
  font-size: 50px;
  background-color: white;
  margin: 100px 500px 50px 500px;
}