.post_image{
  height: 300px;
  width: 500px;
  background-size: cover;
}

.flash_message{
  background-color: orange;
}

.like_btn_already{
  color: crimson;
  font-size: 50px;
}

.like_btn{
  color:grey;
  font-size: 50px;
}

.likes_count{
  font-size: 30px;
}

.user_review_index{
padding-top: 30px ;
}

.user_likes_index{
  padding-top: 30px ;
  padding-bottom: 40px;
}