@import "variables";
.wrapper{
  @include wrapper;
  background-color: $color;
  .top-area{
    display: flex;
    &__image{
      background-color: crimson;
      width: 700px;
      height: 600px;
      margin: 30px 15px 15px 15px;
      background-size: cover;
      border: solid 1px black;
      box-sizing: border-box;
    }
    &__detail{
      
      &--map{
        background-color:whitesmoke;
        width: 440px;
        height: 390px;
        margin: 30px 15px 15px 15px;
        .address{
        background-color:white;
        width: 440px;
        height: 50px;
        padding: 4px;
        border: solid 1px black;
        box-sizing: border-box;
        }
        .google-map{
          background-color: silver;
          width: 440px;
          height: 330px;
          margin-top: 10px;
          border: solid 1px black;
          box-sizing: border-box;
        }
      }
      &--imfomation{
        background-color: white;
        width: 440px;
        height: 190px;
        margin: 20px 15px 15px 15px;
        border: solid 1px black;
        tr{
          border: solid 1px black;
          padding-left: 10px;
        }
        th{
          border: solid 1px black;
          padding-left: 10px;
        }
      }
    }
  }
  .like-area{
    border: solid 3px black;
    width:100px ;
    margin-left:600px;
    text-align: center;
    border-radius: 40px;
    .like_btn_already{
      color: crimson;
      font-size: 30px;
    }
    .like_btn{
      font-size: 30px;
      color: gray;
    }
    span{
      font-size: 30px;
      margin-left: 10px;
      color:black;
    }
  }
  .bottom-area{
    display: flex;
    .text-area{
      width: 585px;
      margin: 15px 15px 0 15px ;
      &__title{ 
        width: 585px;
        @include s-title;
      }
      &__main{
        background-color:white;
        width: 585px;
        margin-top:5px;
        border: solid 1px black;
        box-sizing: border-box;
        padding: 5px;
      }
    }

    .comment-area{
      width: 585px;
      margin: 15px 15px 0 15px ;
      &__title{
        width: 585px;
        @include s-title;
      }
      &__main{
        width: 550px;
        margin-top:10px;
        .comment-box{
          background-color:white;
          width: 540px;
          margin-bottom:10px;
          font-size: 15px;
          padding: 5px;
          border-radius: 15px 15px 15px 15px;
          .comment-box__top{
            display: flex;
            .comment-username{
             margin-left: 10px;
             font-size: 12px;
             font-weight: bold;
             line-height: 25px;
            }
            .daytime{
              margin-left: 15px;
              line-height: 24px;
            }
          }
          .comment-box__bottom{
            padding: 0;
            margin-left: 10px;
          }
        }
      }
    }
  }
  .btn-area{
    height: 50px;
    width: 500px;
    margin: 50px auto 0;
    padding-bottom: 50px;
    position: relative;
    display: flex;
    text-align: center;
    .btn-area__destroy{
      height: 50px;
      width: 200px;
      line-height: 52px;
      font-weight: bold;
      border: solid 2px gray;
      color:black;
    }
    .btn-area__destroy:hover{
      color:$link-color;
    }
    .btn-area__modify{
      height: 50px;
      width: 200px;
      position: absolute;
      right: 0;
      line-height: 52px;
      font-weight: bold;
      border: solid 2px gray;
      color:black;
    }
    .btn-area__modify:hover{
      color:$link-color;
    }
  }
}