<div></div>　<br>
<div class = home>
  <div><子供の遊び場情報を共有できる掲示板></div>

    <div class = main_message>さあ<br>遊びに行こう！</div>
        <div class= pref_link>
        <%= link_to("都道府県一覧へ" , "/reviews/index") %>
        </div>


</div>