.index-wrapper
  .title
    都道府県一覧
  .pref-area
    =link_to "/prefectures/1", id:"hokkaido", class: "target-area" do
      .pref-name
        北海道
    =link_to "/prefectures/2", id:"aomori", class: "target-area" do
      .pref-name
        青森県
    =link_to "/prefectures/3", id:"iwate", class: "target-area" do
      .pref-name
        岩手県
    =link_to "/prefectures/4", id:"miyagi", class: "target-area" do
      .pref-name
        宮城県
    =link_to "/prefectures/5", id:"akita", class: "target-area" do
      .pref-name
        秋田県
    =link_to "/prefectures/6", id:"yamagata", class: "target-area" do
      .pref-name
        山形県
    =link_to "/prefectures/7", id:"fukushima" , class: "target-area"do
      .pref-name
        福島県
    =link_to "/prefectures/8", id:"ibaraki", class: "target-area" do
      .pref-name
        茨城県
    =link_to "/prefectures/9", id:"tochigi", class: "target-area" do
      .pref-name
        栃木県
    =link_to "/prefectures/10", id:"gunma", class: "target-area" do
      .pref-name
        群馬県
    =link_to "/prefectures/11", id:"saitama", class: "target-area" do
      .pref-name
        埼玉県
    =link_to "/prefectures/12", id:"chiba", class: "target-area" do
      .pref-name
        千葉県
    =link_to "/prefectures/13", id:"tokyo", class: "target-area" do
      .pref-name
        東京都
    =link_to "/prefectures/14", id:"kanagawa", class: "target-area" do
      .pref-name
        神奈川県
    =link_to "/prefectures/15", id:"niigata", class: "target-area" do
      .pref-name
        新潟県
    =link_to "/prefectures/16", id:"toyama", class: "target-area" do
      .pref-name
        富山県
    =link_to "/prefectures/17", id:"ishikawa", class: "target-area" do
      .pref-name
        石川県
    =link_to "/prefectures/18", id:"fukui", class: "target-area" do
      .pref-name
        福井県
    =link_to "/prefectures/19", id:"yamanashi", class: "target-area" do
      .pref-name
        山梨県
    =link_to "/prefectures/20", id:"nagano", class: "target-area" do
      .pref-name
        長野県
    =link_to "/prefectures/21", id:"gifu", class: "target-area" do
      .pref-name
        岐阜県
    =link_to "/prefectures/22", id:"shizuoka", class: "target-area" do
      .pref-name
        静岡県
    =link_to "/prefectures/23", id:"aichi", class: "target-area" do
      .pref-name
        愛知県
    =link_to "/prefectures/24", id:"mie", class: "target-area" do
      .pref-name
        三重県
    =link_to "/prefectures/25", id:"shiga", class: "target-area" do
      .pref-name
        滋賀県
    =link_to "/prefectures/26", id:"kyoto", class: "target-area" do
      .pref-name
        京都府
    =link_to "/prefectures/27", id:"osaka", class: "target-area" do
      .pref-name
        大阪府
    =link_to "/prefectures/28", id:"hyogo", class: "target-area" do
      .pref-name
        兵庫県
    =link_to "/prefectures/29", id:"nara", class: "target-area" do
      .pref-name
        奈良県
    =link_to "/prefectures/30", id:"wakayama", class: "target-area" do
      .pref-name
        和歌山県
    =link_to "/prefectures/31", id:"tottori", class: "target-area" do
      .pref-name
        鳥取県
    =link_to "/prefectures/32", id:"shimane", class: "target-area" do
      .pref-name
        島根県
    =link_to "/prefectures/33", id:"okayama", class: "target-area" do
      .pref-name
        岡山県
    =link_to "/prefectures/34", id:"hiroshima", class: "target-area" do
      .pref-name
        広島県
    =link_to "/prefectures/35", id:"yamaguchi", class: "target-area" do
      .pref-name
        山口県
    =link_to "/prefectures/36", id:"tokushima", class: "target-area" do
      .pref-name
        徳島県
    =link_to "/prefectures/37", id:"kagawa", class: "target-area" do
      .pref-name
        香川県
    =link_to "/prefectures/38", id:"ehime", class: "target-area" do
      .pref-name
        愛媛県
    =link_to "/prefectures/39", id:"kochi", class: "target-area" do
      .pref-name
        高知県
    =link_to "/prefectures/40", id:"fukuoka", class: "target-area" do
      .pref-name
        福岡県
    =link_to "/prefectures/41", id:"saga", class: "target-area" do
      .pref-name
        佐賀県
    =link_to "/prefectures/42", id:"nagasaki", class: "target-area" do
      .pref-name
        長崎県
    =link_to "/prefectures/43", id:"kumamoto", class: "target-area" do
      .pref-name
        熊本県
    =link_to "/prefectures/44", id:"oita", class: "target-area" do
      .pref-name
        大分県
    =link_to "/prefectures/45", id:"miyazaki", class: "target-area" do
      .pref-name
        宮崎県
    =link_to "/prefectures/46", id:"kagoshima", class: "target-area" do
      .pref-name
        鹿児島県
    =link_to "/prefectures/47", id:"okinawa", class: "target-area"do
      .pref-name
        沖縄県
    
