=form_for @review do |f|
  .product-new-wrapper
    .title_area
      記事の投稿

    .subject_area
      .area-title
        件名
      = f.text_field :subject, class: "input-area"

    .prefecture_area
      .area-title
        都道府県
      = f.collection_select :prefecture_id, @prefectures, :id, :name, {},{class: "input-area"}

    .address_area
      .area-title
        遊び場の住所
      = f.text_field :address, class: "input-area"
    .url_area
      .area-title
        参考URL
      = f.text_field :movie, class: "input-area"
    .bottom-area
      .text_area
        .area-title
          記事内容
        =f.text_area :text, class: "input-big"
      .image_area
        .area-title
          画像
        .image_area__contents
          .image_area__contents--box
            %label.input-small 
              =fa_icon "picture-o" ,class:"icon"
              =f.file_field :image, style: "display: none;"
          .image_area__contents--box
            %label.input-small 
              =fa_icon "picture-o" ,class:"icon"
              =f.file_field :image, style: "display: none;"
          .image_area__contents--box
            %label.input-small 
              =fa_icon "picture-o" ,class:"icon"
              =f.file_field :image, style: "display: none;"
          .image_area__contents--box
            %label.input-small 
              =fa_icon "picture-o" ,class:"icon"
              =f.file_field :image, style: "display: none;"
          .image_area__contents--box
            %label.input-small 
              =fa_icon "picture-o" ,class:"icon"
              =f.file_field :image, style: "display: none;"
          .image_area__contents--box
            %label.input-small 
              =fa_icon "picture-o" ,class:"icon"
              =f.file_field :image, style: "display: none;"
          .image_area__contents--box
            %label.input-small 
              =fa_icon "picture-o" ,class:"icon"
              =f.file_field :image, style: "display: none;"
          .image_area__contents--box
            %label.input-small 
              =fa_icon "picture-o" ,class:"icon"
              =f.file_field :image, style: "display: none;"
          
    =f.submit "投稿する",class:"submit-area"
        
  