<div class = review_all>
<div class =saitamaken>~埼玉県の投稿一覧~</div>
  <div class=review_main>
    <% @reviews.each do |review| %>
      <div class = review_subject>
      <%= link_to review.subject ,"/show/#{review.id}" %>
      </div>
    <% end %>
      <div class = pagenate>
      <%= paginate(@reviews) %>
      </div>
  </div>
</div>